*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url(images/cow-hath-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
header .header-container{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.788), rgba(228, 226, 226, 0));
    width: 90%;
    height: 100%;
    color: #ffffff;
}
.header-container h1{
    font-size: 60px;
    margin-bottom: 40px;
    padding-top: 250px;
    padding-left: 250px;
}
.header-container p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 5px;
    margin-bottom: 30px;
    padding-left: 250px;
}
.custom-btn{
    background-color: #ef233c;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    margin-left: 250px;
}
/* Depends section start */
.depends{
    background-color: #ffffff;
    display: flex;
}
.depends .left-div{
    width: 50%;
}
.left-div h1{
    font-size: 60px;
    color: #121212;
    padding-top: 200px;
    padding-left: 250px;
    margin-bottom: 30px;
}
.left-div p{
    color: #929292;
    font-size: 20px;
    padding-left: 250px;
    margin-bottom: 20px;
}
.depends .right-div{
    width: 50%;
}
.right-div img{
    width: 500px;
    height: 600px;
    border-radius: 10px;
    margin: 150px 200px;
}
.survive{
    background-color: #ffffff;
    display: flex;
}
.donation{
    background-color: #ffffff;
    text-align: center;
}
.donation h1{
    font-size: 60px;
    color: #121212;
    margin-bottom: 30px;
}
.donation p{
    font-size: 20px;
    color: #929292;
    margin-bottom: 30px;
}
.direct-help{
    display: flex;
}
.direct-help-2{
    display: flex;
}
.box{
    display: flex;
    margin: 20px auto;
}
.box-1{
    display: flex;
    width: 400px;
    background-color:#fef4f5;
    border-radius: 10px;
    padding: 40px 60px;
    margin: 5px 20px;
}
.box-1 img{
    width: 50px;
    display: inline;
    margin-right: 20px;
}
.box-1 h3{
    font-size: 25px;
    color: #121212;
    margin-bottom: 15px;
}
.box-1 p{
    font-size: 20px;
    color: #929292;
}
.doa{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.doa img{
    margin: 0 30px;
    margin-top: 150px;
    border-radius: 10px;
}
.helping-hand{
    display: flex;
    justify-content: center;
}
.main-div{
    width: 350px;
    border: 1px solid rgba(128, 128, 128, 0.336);
    border-radius: 10px;
    margin: 10px 30px;
}
.main-div img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}
.main-div h3{
    font-size: 25px;
    color: #121212;
    margin-bottom: 10px;
}
.main-div p{
    font-size: 20px;
    color: #929292;
}
.main-div a{
    color: red;
    font-size: 25px;
}
.bottom-div{
    padding: 30px 30px;
}
footer{
    background-color: #121212;
    height: 200px;
    margin-top: 150px;
}
footer h1{
    color: #ef233c;
    font-style: italic;
    padding-top: 50px;
    text-align: center;
}
footer p{
    color: #929292;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}